parameters:
	ignoreErrors:
		-
			message: "#^Instanceof between App\\\\Models\\\\User and Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail will always evaluate to false\\.$#"
			count: 1
			path: src/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Cannot cast object\\|string\\|null to string\\.$#"
			count: 1
			path: src/Http/Responses/Fortify/ResetPasswordView.php

		-
			message: "#^Method App\\\\Navigation\\\\Navigation\\:\\:getUserNavigationItems\\(\\) should return array\\<App\\\\Navigation\\\\NavigationItem\\> but returns array\\<array\\<string\\>\\|string\\>\\.$#"
			count: 1
			path: src/Navigation/Navigation.php
