parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Actions\\\\Fortify\\\\GetUserBrowserSession\\:\\:handle\\(\\) return type with generic class Illuminate\\\\Support\\\\Collection does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Actions/Fortify/GetUserBrowserSession.php

		-
			message: "#^Parameter \\#1 \\$name of static method Illuminate\\\\Database\\\\DatabaseManager\\:\\:connection\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Actions/Fortify/GetUserBrowserSession.php

		-
			message: "#^Parameter \\#1 \\$table of method Illuminate\\\\Database\\\\Connection\\:\\:table\\(\\) expects Closure\\|Illuminate\\\\Contracts\\\\Database\\\\Query\\\\Expression\\|Illuminate\\\\Database\\\\Query\\\\Builder\\|string, mixed given\\.$#"
			count: 1
			path: src/Actions/Fortify/GetUserBrowserSession.php

		-
			message: "#^Instanceof between App\\\\Models\\\\User and Illuminate\\\\Contracts\\\\Auth\\\\MustVerifyEmail will always evaluate to false\\.$#"
			count: 1
			path: src/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Cannot cast object\\|string\\|null to string\\.$#"
			count: 1
			path: src/Http/Responses/Fortify/ResetPasswordView.php

		-
			message: "#^Method App\\\\Navigation\\\\Navigation\\:\\:getUserNavigationItems\\(\\) should return array\\<App\\\\Navigation\\\\NavigationItem\\> but returns array\\<array\\<string\\|null\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/Navigation/Navigation.php
